
body, html {
    min-height: 100%;
}

*{
  outline: none;
}


.col {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu {
    display: flex;
    flex-direction: row;
    &__item {
        list-style: none;
    }
}

.link-button {
    font-family: "3ds",Arial,Helvetica,sans-serif;
    display: inline-block;
    overflow: hidden;
    position: relative;
    min-width: 6em;
    border-radius: 1.6666666667em;
    margin-right: 2em;
    border: 2px solid;
    color: #fff;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    font-size: 0.938em;
    padding: 0.6em 2em;
    outline: 0;
    transition: background-color 400ms ease-out,border-color 400ms ease-out,color 400ms ease-out;

    &.link-button--filled-blue {
        border-color: #239de8;
        background: #239de8;
    }
    &:hover {
        border-color: #1a77ac;
        background: #1a77ac;
    }
}